<h1>Cocktails</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.ubaldi.com/wp-content/uploads/2019/05/cocktails-blender.jpg);">
  <div class="container">
    <h1>Cocktails</h1>
    <p>Les cocktails c'est COOL.</p>
  </div>
</div>

<%#= cl_image_tag "ue0b379lcddl4oekxww5", width: 400, height: 300, crop: :fill %>




<% @cocktails.each do |cocktail| %>
<div class="card-product">
  <%= cl_image_tag cocktail.photo.key, crop: :fill, width: 200 %>
  <div class="card-product-infos">
    <h2><%= cocktail.name %></h2>
    <p><%= link_to '👀Show', cocktail %></p>
  </div>
</div>
 <% end %>



<%= link_to "Add a new cocktail", new_cocktail_path, class: 'btn btn-primary' %>

