<h1>Cocktails</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.ubaldi.com/wp-content/uploads/2019/05/cocktails-blender.jpg);">
  <div class="container">
    <h1>Cocktails</h1>
    <p>Les cocktails c'est COOL.</p>
  </div>
</div>



<tbody class="card-category">
  <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
  <% end %>
</tbody>

<%= link_to "Add a new cocktail", new_cocktail_path, class: 'btn btn-primary' %>

