<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img src="https://www.destinationcocktails.fr/wp-content/uploads/2019/11/le_secret_des_cocktails_a_etages-2.jpg" width="30" height="30" alt="" loading="lazy">
    <%= link_to " ðŸ¹ Add a new cocktail ðŸ¹", new_cocktail_path, class: 'btn btn-primary' %>
  </a>
</nav>
